/*=======*/
/*GENERAL*/
/*=======*/
body {
  margin: 0;
  font-family: arial;
}

* {
  box-sizing: border-box;
}

input[type="text"] {
  padding: 5px;
  margin: 0;
}

/*=====*/
/*ASIDE*/
/*=====*/

.aside {
  width: 400px;
  height:100vh;
  display: inline-block;
  vertical-align: top;
  background: #ddd;
}
.aside h1 {
  padding: 10px;
  margin: 0;
  background: #ccc;
}

/*===========*/
/*MARKER LIST*/
/*===========*/

.marker-list ul {
  padding: 10px;
  list-style: none;
  margin: 0;
}

.marker-list button {
  border: 0;
  background: #ccc;
  margin: auto 5px;
}

.marker-list .marker {
  padding: 5px;
  background: #eee;
  margin-bottom: 10px;
}

.marker-list .marker.disabled {
  color: #aaa;
}
/*===*/
/*MAP*/
/*===*/

.quizmap, .markermap {
  display: inline-block;
}
