body {
  margin: 0;
  font-family: arial;
}
input[type="text"] {
  padding: 5px;
  margin: 0;
}

.marker-list {
  display: inline-block;
  background: #ddd;
  width: 400px;
  height:100vh;
  vertical-align: top;
}

.marker-list ul {
  padding: 10px;
  list-style: none;
  margin: 0;
}
.marker-list h1 {
  padding: 10px;
  margin: 0;
  background: #ccc;
}

.marker-list .marker {
  padding: 5px;
  background: #eee;
  margin-bottom: 10px;
}

.marker-list button {
  border: 0;
  background: #ccc;
  margin: auto 5px;
}

.quizmap, .markermap {
  display: inline-block;
}

.marker.disabled {
  color: #aaa;
}
